* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #2e293c;
    color: #ffffff;
}
h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.scoreContainer {
    margin: 20px;
    display: flex;
    align-items: baseline;
    width: 80%;
    height: auto;
}

.scoreContainer h3 {
    margin: 10px;
}

.btnContainer {
    display: flex;
    gap: 20px
}

button {
    padding: 6px 12px;
    background-color: #b09de6;
    border: 2px solid #6f6391;
    border-radius: 8px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: 240ms;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

button:active {
background-color: #6f6391;
}

button:disabled {
    background-color: #aeaeae;
    opacity: 20%;
    transition: none;
}

button:disabled:hover {
    cursor: default;
    transform: scale(1);
}

.countUp {
    animation-duration: 360ms;
    animation-name: countUp;
}

@keyframes countUp {
    0% {font-size: 1.17em;}
    50% {font-size: 2.4em;}
    100% {font-size: 1.17em;}
}